<div class="booking-page-wrapper" [style.--bg-img]="backgroundImage">

    <!-- Dynamic Hero Background -->
    <div class="university-hero">
        <div class="uni-hero-overlay"></div>
        <div class="uni-hero-content">
            <a routerLink="/" class="back-btn">
                <i class="bi" [ngClass]="lang.isArabic() ? 'bi-arrow-right' : 'bi-arrow-left'"></i> {{
                lang.t('page_back_uni') }}
            </a>
            <h1>{{ lang.isArabic() ? university?.name : university?.nameEn }}</h1>
            <p>{{ lang.t('page_booking_sub') }}</p>
        </div>
    </div>

    <!-- Booking Form -->
    <div class="booking-wrapper">
        <app-booking-form [preselectedUniversity]="universityId"></app-booking-form>
    </div>

</div>